.vscode/

venv/
.venv/
.pytest_cache/
__pycache__/
*.pyc
*.pyo

*.ini

.env

.git
.gitignore

.uploads/
tests/
migrations/
models/
src/backend/ai/llms/cpp_models/
.migrations/
.test_temp_db.sqlite

LICENSE
*.md